:root {
  --primary-bg: #416cb4;
  --secondary-bg: #f36f5f;
  --primary-light-bg: #57a7dc;
  --secondar-light-bg: #f37360;
  --gray-text: #6c6a6a;
  --white--text: #fff;
  --primary-text: #416cb4;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.partners-container {
  position: relative;
  text-align: center;
}

.partners-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-bg);
  position: relative;
  z-index: 1;
}
