:root {
  --primary-bg: #416cb4;
  --secondary-bg: #f36f5f;
  --primary-light-bg: #57a7dc;
  --secondar-light-bg: #f37360;
  --gray-text: #6c6a6a;
  --white--text: #fff;
  --primary-text: #416cb4;
}

@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

body {
  margin: 0;
  font-family: "Cairo" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-bg) !important;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  /* color: #416cb4 !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.partners-container {
  position: relative;
  text-align: center;
}

.partners-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-bg);
  position: relative;
  z-index: 1;
}
